gcp_project_id             = "your-gcp-project-id"
gcp_region                 = "asia-east1"
gcp_zone                   = "asia-east1-a"
bucket_name                = "bucket-name"
eth_rpc_url                = "https://eth.public-rpc.com"