@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.din-alternate_light {
    font-family: "urw-din", sans-serif;
    font-style: normal;
    font-weight: 200;
}

.din-alternate_regular {
    font-family: "urw-din", sans-serif;
    font-style: normal;
    font-weight: 300;
}

.din-alternate_medium {
    font-family: "urw-din", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.din-alternate_demi {
    font-family: "urw-din", sans-serif;
    font-style: normal;
    font-weight: 500;
}

.din-alternate_semi-bold {
    font-family: "urw-din", sans-serif;
    font-style: normal;
    font-weight: 600;
}

.din-alternate_bold {
    font-family: "urw-din", sans-serif;
    font-style: normal;
    font-weight: 700;
}

body {
    font-family: "urw-din", sans-serif;
    font-style: normal;
    font-weight: 300; /* Specify the desired font weight */
}
