@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-spinner-color-empty-area: #f30919 !important;
  --toastify-color-warning: #f76808 !important;
  --toastify-icon-color-warning: var(--toastify-color-warning) !important;
}

@layer components {
  .dashboard-text-gradient {
    position: relative;
  }

  .dashboard-text-gradient:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: transparent linear-gradient(90deg, #F9F9F9 0%, #F1F1F100 100%) 0% 0% no-repeat padding-box;
    width: 50%;
    height: 100%;
    z-index: -1;
  }

  .global-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
  }

  .global-clip-btn {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0 8px);
  }
  
  .global-cta-clip-path {
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
  }

  .global-input-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0 8px);
  }

  .global-callout-clip-path {
    clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
  }

  .clip-path-8px {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0 8px);
  }

  .clip-path-12px {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0 100%, 0 12px);
  }

  .clip-path-30px {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2px), calc(100% - 2px) 100%, 0 100%, 0 2px);
  }

  .global-double-clip-path-15px {
    clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px);
  }

  .text-button:hover .arrow-icon {
    fill: white
  }

  .shadow-default {
    filter: drop-shadow(0px 10px 10px #00000090);
  }

  .shadow-light {
    filter: drop-shadow(0px 10px 10px #00000040);
  }

  .box-shadow-default {
    box-shadow: 0 10px 30px #00000080;
  }

  .box-shadow-light {
    box-shadow: 0 10px 30px #00000040;
  }
  
  .modal-close:hover .close-stick {
    fill: #FF0030 !important;
    transition: .25s ease-in-out;
  }

  nav header {
    padding-right: 0 !important;
    gap: 10px !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .mt-custom-17 {
    margin-top: -17px;
    margin-bottom: -17px;
  }

  .mr-custom-17 {
    margin-right: -17px;
  }

  .bg-red.bg-red {
    background: [red];
  }

  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: "Rajdhani", sans-serif;
  src: url("../../public/fonts/Rajdhani-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../../public/fonts/Rajdhani-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../../public/fonts/Rajdhani-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../../public/fonts/Rajdhani-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: "Rajdhani";
  src: url("../../public/fonts/Rajdhani-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Rajdhani", sans-serif;
}

@media (min-width: 320px) {
  .toast-container {
    width: 370px !important;
  }
}

@media (min-width: 1024px) {
  .toast-container {
    width: 500px !important;
  }
}

.cookie-consent a {
  color: #ee081a;
  text-decoration: none;
  font-weight: bold;
}

.cookie-consent a:hover {
  opacity: 0.8;
}

.Toastify__close-button:hover,
.Toastify__close-button:focus {
  color: #ee081a !important;
}

.Toastify__close-button {
  align-self: center !important;
  margin-right: 15px;
  opacity: 1 !important;
}

.Toastify__close-button svg {
  width: 20px !important;
  height: 20px !important;
}

.Toastify__toast {
  border-radius: 0px !important;
}

.Toastify__toast-body {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px !important;
  color: #a2a0a0
}

.Toastify__spinner {
  border-right-color: black !important;
}

.hover-button:hover {
  background-color: #fff !important;
  color: #ff0030 !important;
  transition-duration: 0.2s;
}

.cookie-consent-container {
  position: fixed !important;
  bottom: 40px !important;
  left: 38px !important;
  width: 96% !important;
}

.base-input:-webkit-autofill,
.base-input:-webkit-autofill:hover,
.base-input:-webkit-autofill:focus {
  -webkit-text-fill-color: #D0CFCF !important;
  caret-color: #D0CFCF !important;
  transition: background-color 5000s ease-in-out 0s;
}

@media screen and (max-width: 1600px) {
  .cookie-consent-container {
    left: 30px !important;
    padding: 10px !important;
  }
}

@media screen and (max-width: 1200px) {
  .cookie-consent-container {
    left: 20px !important;
    padding: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .cookie-consent-container {
    left: 10px !important;
    padding: 10px !important;
  }

  @media screen and (max-width: 480px) {
    .toast-container {
      left: 50% !important;
      transform: translateX(-50%) !important;
    }
  }
}